html {
  height: 100%;
  width: 100%;
}


#mobile-screen{
  max-width: 450pt;
  width: auto;
  overflow-x: hidden;
  background-color: rgb(17,20,34);
  border-radius: 30pt;
  border: 5px solid #050505;
}

main{
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


.Lefty{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}















.body {
  background-color: #e2d5d5;
  color: white;
  font-family: Arial, sans-serif;

  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin: 0;
}

.container {
  flex-direction: row;
 
  /*
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  */
  padding: 1.4em;
  text-align: center;

}

.achievement {
  flex:1;
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  
  display: inline-block;
  width:48%;
  margin-bottom: 0.4em;
  flex-wrap: wrap;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.progress {
  font-size: 16px;
}